<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>

<h1>Registration</h1>

<form th:action="@{/register}" th:object="${user}" th:method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" th:field="*{name}" required/>

    <label for="age">Age:</label>
    <input type="text" id="age" th:field="*{age}" required/>

    <label for="email">Email:</label>
    <input type="email" id="email" th:field="*{email}" required/>

    <label for="password">Password:</label>
    <input type="password" id="password" th:field="*{password}" required/>

    <label>Roles:</label>
    <div th:each="role : ${roles}">
        <input type="checkbox" th:value="${role.id}" th:field="*{roleIds}" th:id="'role_' + ${role.id}" />
        <span th:text="${role.name}">Role Name</span>
    </div>

    <button type="submit">Create User</button>
</form>

</body>
</html>
